
/* div {
    border: 1px solid black;
}

section {
    border: 3px solid seagreen;
} */


a {
    color: #EFEFEF;
}

button, input, textarea, select, a, ul, li{
    border: none;
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

img {
    max-width: 100%;
}

ul li {
    display: inline;
}


.bigger {
    font-size: 260%;
    
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
    
}

.bold {
    font-size: 120%;
    font-weight: 700;
}

.small {
    font-size: 100;
}

.numberCircle {
    width: 3.2em;
    border-radius: 50%;
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    border: 1px solid #EFEFEF;
    line-height: 3.2em;
    margin-left: 1em;
    margin-right: 0.4em;
}

body {
    background-color: #EFEFEF;
    letter-spacing: 0.05em;
    line-height: 1;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 20px;
    overflow-x: hidden;
}


section {
    position: relative;
    width: 96%;
    height: auto;
    border-radius: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 2%;
}






















.header {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.header__menu {
    display: flex;
    margin-top: 10px;
    width: 77%;
    height: 3.2em;
    justify-content: space-between;
}

.header__menu--left, .header__menu--middle, .header__menu--right {
    display: flex;
    justify-content: center;
    background-color: #444D5C;
    border-radius: 50px;
    padding: 1.1em 1.3em 1.1em 1.3em;
    align-items: center;
    height: auto;

}

.header__menu button {
    background-color: #444D5C;
    color: #EFEFEF;
    width: 100%;
    height: 2.9em;
    
}

.header__menu-logo {
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header__menu--middle {
    width: 55%;
    justify-content: space-between;
    padding: 0 3em 0 3em;
}

.header__menu--left, .header__menu--right {
    width: 10%;
}

.header__menu--middle button {
    width: 20%;
    border-radius: 30px;
}


















.introduction img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.introduction__text {
    position: absolute;
    color: #444D5C;
    width: 30%;
    height: auto;
    top: 28%;
    left: 10%;
}

.introduction__text button {
    width: 60%;
    height: 4em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin-top: 14px;
    background-color: #0A9A88;
    color: #EFEFEF;
}












.our_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444D5C;
    
}






.service-selector {
    display: grid;
    grid-template-columns: repeat(4, 455px);;
    grid-column-gap: 1em;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-left: 27%;
    
}

.service {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service h2 {
    font-size: 120%;
    font-weight: bold;
    color: #0A9A88;
}

.service-expandButton {
    position: absolute;
    bottom: 7%;
    right: 8%;
}

.service-button {
    position: absolute;
    bottom: 7%;
    left: 8%;
    border-radius: 30px;
    padding: 0 3.2em 0 3.2em;
    background-color: #EBE1E2;
}

.installation {
    background-image: url(img/27ad2c79658eaaaa2eb9f40400feb1e6.png);
    
}

.froze {
    background-image: url(img/Услуга\ 2.png);
    background-position: right;
}

.delivery {
    background-image: url(img/Услуга\ 3.png);
}

.delivery-copy {
    background-image: url(img/service-maintenance-worker-repairing\ 1\ 1.png);
}

.service-description {
    width: 80%;
    height: auto;
    display: none;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}




.description-card {
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 1.2em;
    border: 1px solid #0A9A88;
    color: #444D5C;
    max-height: 345px;
}

.height {
    max-height: 100% !important;
}

.hidenDescription--close {
    margin: 10px 0 40px 0;
    height: 0px;
    display: none;
}

.hidenDescription--open {
    margin: 10px 0 40px 0;
    display: block;
}


.description-card input, select {
    width: 100%;
    height: 3em;
    border-radius: 30px;
    text-align: center;
    background-color: #EBE1E2;
    color: #0A9A88;
    margin-bottom: 0.9em;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    gap: 0.5em 1.7em;
}

.reverse {
    flex-direction: column;
    height: auto;
}

.description-card button {
    width: 100%;
    height: 3.9em;
    border-radius: 30px;
    
    

}

.additional-Info {
    color: #0A9A88;
    cursor: pointer;
    border: 1px solid #0A9A88 ;
}

.additional-Info--active {
    background-color: #0A9A88;
    color: #EBE1E2;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #EBE1E2;
}

.AddButton {
    background-color: #0A9A88;
    color: #EBE1E2;
    cursor: pointer;
}

.AddButton--active {
    color: #0A9A88;
    cursor: pointer;
}







.work {
    background-color: #0A9A88;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: #EFEFEF;
    padding: 50px 0 50px 0;
}

.work__block {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}


.work .text_block {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: left;
}

.work__block--left, .work__block--right {
    display: flex;
    width: 50%;
    margin-bottom: 24px;
    border: 1px solid #EFEFEF;
    align-items: center;
    text-align: left;
    padding-right: 20px;
}

.work__block--left {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: none;
}

.work__block--left p {
    margin-left: 1.7em;
}

.work__block--right {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-left: none;
    
}




.slaider_wrap {
    margin-top: 100px;
}

.slide {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: right;
    margin-left: auto;
    margin-right: 10%;
    
}

.slide img {
    width: 50%;
    height: auto;
    border-radius: 30px;

}

.slide__text {
    width: 30%;
    margin-right: 8em;
}

.slide__text button {
    width: 90%;
    height: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0px;
    margin-top: 14px;
    background-color: #0A9A88;
    color: #EFEFEF;
    border-radius: 40px;
}

.slick-dots li button:before {
    font-family: 'slick';
     font-size: 2px;
     line-height: 5px;
     position: absolute;
     top: 0;
     left: 0;
     width: 5px;
     height: 5px;
     background-color: #000000;
     border-radius: 50%;
     text-align: center;
     opacity: .25;
     color: black;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin-top: 10px;
     
   }




select {
    background-image: url(icon/btn\ стрелка\ вниз-вверх\ 1.svg);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    padding-left: 20px;
}




.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_block {
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
}

.info__block {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    border-top: 1px solid black;
}

.Title {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.description {
    display: none;
    transition: .25s ease;
    padding-right: 50px;
}

.button-top {
    background-image: url('icon/btn\ стрелка\ вниз-вверх\ 2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    background-size: 100% 100%;
    width: 3.8em;
    height: 3.8em;
    cursor: pointer;
}

.button-bottom {
    background-image: url('icon/btn\ стрелка\ вниз-вверх\ 1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    border-radius: 30px;
    width: 3.8em;
    height: 3.8em;
    cursor: pointer;
}

.BigBtn {
    z-index: 100;
    position: absolute;
    background-size: 75%;
    bottom: -1px;
    right: -1px;
    width: 6.8em;
    height: 6.8em;
    background-color: #EFEFEF;
    border-radius: 0;
    background-position: bottom right;
    border-top-left-radius: 50px ;
    transition: height .25s ease;
}






.form {
    color: #FFF ;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0A9A88;
    border-radius: 50px;
    padding-bottom: 60px;
    overflow: hidden;
    padding: 50px 0 50px 0;
}


.question {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   width: 100%;
   color: #FFF;
}


.question .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;
    height: auto;
}


.question button {
    border-radius: 30px;
    margin-top: 10px;
    width: 100%;
}

.question input[type='text'], textarea {
    border-radius: 30px;
    width: 97%;
    height: auto;
    padding: 1.2em 0 1.2em 1em;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #EBE1E2;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 1px solid #FFF;
    background-color: #0A9A88;
    outline: none;
    appearance: none;
    margin-right: 15px;
    padding: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.vector1 {
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 0;   
}

.vector2 {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
}

::placeholder { 
    color: #0A9A88;
    float: left;
    margin-left: 20px;
 }

 input[type="checkbox"]:checked {
    background-color: #EBE1E2;
 }




footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background: #444D5C;
    height: 107px;
    width: 100%;
    margin-top: 40px;

}

.footer__block {
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: auto;
}

.footer__block ul li {
    padding-right: 40px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

