@media (max-width:1410px) {
    .introduction__text {
        font-size: 80%;
    }
    .service-selector {
        grid-template-columns: 1fr 1fr ;
        grid-row-gap: 1em;
    }
}

@media(max-width:1350px) {
    body {
        font-size: 18px;
    }
}